@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#show-nav-btn {
  position: fixed;
  top: 20px;
  left: 20px;
}

main .logo {
  width: 200px;
}

main p {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-out;
  height: 100%;
}

.nav.hide {
  transform: translateX(-100%);
}

.nav-bottom {
  background-color: rgb(0,0,0);
  width: 40%;
  min-width: 400px;
  max-width: 500px;
  transition-delay: 0s;
}

.nav-bottom.hide {
  transition-delay: 0.4s;
}

.nav-middle {
  background-color: rgb(229, 0, 28);
  width: 95%;
  transition-delay: 0.2s;
}

.nav-top {
  background-color: rgb(255, 255, 255);
  width: calc(90 / 95 * 100%);
  padding: 20px;
  transition-delay: 0.4s;
}

.nav-top.hide {
  transition-delay: 0s;
}

#hide-nav-btn {
  position: absolute;
  top: 40px;
  right: 30px;
  color: #888;
}

nav .logo {
  width: 200px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

nav li {
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #555;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: #111;
}
